.content_bg{ background:#e2e2e2;}
.header_bg{ background:#000;}
.head_title{ color:#fff;}
.menu_btn{ color:#fff;}

.clear{ clear:both;}
.container{  background:#fff;}
.form_content{padding:100px 0 10px 0;  /*background:green;*/}
.box{ width:10%; float:left; height:100px;}
.inner_content{width:80%; float:left; background:pink;}
.box_inner{}
.box_inner label{ padding:10px; text-align:center;} 
.b_txtbox{ padding:10px; background:green;}
.b_txtbox input{}