.content_bg{ background:#e2e2e2;}
.header_bg{ background:#000;}
.head_title{ color:#fff;}
.menu_btn{ color:#fff;}

.clear{ clear:both;}
.container{  background:#fff;}
.form_content{padding:100px 0 10px 0;  /*background:green;*/}
.box{ width:10%; float:left; height:100px;}
.inner_content{width:80%; float:left; }
.box_inner{}
.box_inner label{ padding:10px; display:block; text-align:center;} 
.box_inner label span{ color:#f00;}
.b_txtbox{ padding:10px; }
.b_txtbox input{ width:100%; border:0; border-bottom:1px solid #888;}
.b_btn{ padding:10px; margin:10px 0;}
.b_btn button{ width:100%;  background:#1c9ad6; color:#fff; font-size:18px;
    border:0px; border-radius:10px; padding:10px;
}

.d_list{ padding:0px;}
.d_list ul{}
.d_list ul li{ padding:15px 10px; border-bottom:1px solid #ddd;
}
.d_list label{display:block; font-size:14px; color:#888;}
.d_list span{ display:block; font-size:18px; padding:5px 0;}

.abt_content{ padding:50px 20px; text-align:center;}
.abt_content h2{ color:#1c9ad6;}

.abt_flogo{ padding:10px 0;
}






