<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="header_bg" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon menu_btn" data-comp-id="button.1"
                ng-click="app.go('app.menu')"></button>
        </ion-nav-buttons>
        <ion-nav-title class="head_title" data-comp-id="nav-title.1">Xtend</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="container" data-comp-id="ionic-content.1">
        <div class="form_content">
            <div class="box"></div>
            <div class="inner_content">
                <div class="home_icon">
                    <img src="">
                </div>
                <div class="box_inner">
                    <label>
                        <span>*</span>
                        Batch Code
                    </label>
                    <div class="b_txtbox">
                        <input ng-model="data.batchnumber" placeholder="Enter Batch Code" type="text">
                    </div>
                    <div class="b_btn">
                        <button ng-click="app.go('app.details')">Proceed</button>
                    </div>
                </div>
            </div>
            <div class="box"></div>
            <div class="clear"></div>
        </div>
    </ion-content>
</ion-view>